<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <img src="http://placehold.it/800x1000" alt="..." class="image-responsive"/>
        </div>
        <div class="col-md-6">
            <h2 th:text="${bookDetails.title}"></h2>
            <div class="row">
                <div class="col-md-12">
                    <p th:text="${bookDetails.author}"></p>
                    <p th:text="${bookDetails.bookCategory}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 th:text="${bookDetails.price}"></h2>
                </div>
            </div>
            <div class="row add-to-cart">
                <div class="col-md-3">
                    <button class="btn btn-lg btn-brand btn-full-width">Add to Cart</button>
                </div>
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="label label-success">15 reviews</span>
                    </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-6">
                    <h1>Post review</h1>
                    <form th:object="${review}" method="post">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" th:field="*{text}">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description"
                       aria-controls="description"
                       role="tab"
                       data-toggle="tab"
                    >Description</a>
                </li>
                <li role="presentation">
                    <a href="#features"
                       aria-controls="features"
                       role="tab"
                       data-toggle="tab"
                    >Features</a>
                </li>
                <li role="presentation">
                    <a href="#notes"
                       aria-controls="notes"
                       role="tab"
                       data-toggle="tab"
                    >Notes</a>
                </li>
                <li role="presentation">
                    <a href="#reviews"
                       aria-controls="reviews"
                       role="tab"
                       data-toggle="tab"
                    >Reviews</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    <p th:text="${bookDetails.description}"></p>
                </div>
                <div role="tabpanel" class="tab-pane top-10" id="features">
                    ...
                </div>
                <div role="tabpanel" class="tab-pane" id="notes">
                    ...
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
